<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="panel">
                <div class="panel body">
                    <p th:text="${#dates.format(${recruit.createDate})}"></p>
                    <span th:text="${recruit.recruitTitle}"></span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>